@import '../../../conf/names_variables.scss';
@import '../../../custom/custom.scss';

.toolbar-icon {
    padding: 0 15px;
}

#app-toolbar {
    background-color: $navbar-color;
}

.appnav {
    width: 220px;
    min-width: 65px;
}

.sidenav-container{
    height: 100%;
}

.list {
    list-style-type: none;
}
mat-menu > li {
    cursor: pointer;
    list-style-type: none;
    padding: 10px;
}

mat-icon {
    margin: 10px;
}

.module-name {
    color: black;
}

#module-name{
    margin-right: 15px;;
}

.menu-button {
    margin-right: 10px;
    background-color: $navbar-color;
    outline: none;
}

.menu-button mat-icon.menu-icon {
    margin: 0;
}

.dropdown-item .fa {
    margin-right: 12px;
}