<div class="row footer">
	<div class="col-md-6 col-lg-7">
		<div class="adresse">
			<div class="icon"><em class="fa fa-xl fa-address-card-o"></em></div>
			<div class="detail">
				GRoupe d'ÉTude des Invertébrés Armoricains 
				<br>(GRETIA - association loi 1901)
				<br>Campus de Baulieu bât. 25
				<br>35042 RENNES Cedex
				<br><a [href]="mailTo('gretia')">{{ contacts['gretia'].mail }}</a>
				<br><a [href]="telTo('gretia')">{{ contacts['gretia'].tel.view }}</a>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-5">
		<div style="font-size:.9em;">Mis en œuvre avec le soutien de :</div>
		<div class="partenaires">
			<span class="image"><img src="assets/images/partenaires/r_normandie.png" alt="Normandie" title="Région normandie"></span>
			<span class="image"><img src="assets/images/partenaires/DREAL-Normandie.jpg" alt="DREAL-Normandie" title="DREAL Normandie"></span>
			<span class="image"><img src="assets/images/partenaires/faeder.jpeg" alt="FAEDER" title="Union Européenne"></span>
		</div>
	</div>
</div>
