.footer {
	background-color: #fff;
	padding: 20px 10px;
    margin: 0px;
}

.adresse .icon {
    float: left;
    color: #333;
}

.adresse .detail {
    margin-left: 50px;
    font-size: .95em;
}


.partenaires img {
	max-height: 110px;
	margin: 10px;
}

footer .adresse em {
    float: left !important;
    width: 35px;
    margin-right: 20px;
}
